<div class="container d-flex flex-column">
  <div class="d-flex flex-row justify-content-center m-3">
    <h1>Results</h1>
  </div>
  <div>
    <p><strong>Your result:</strong>1 / 2</p>
  </div>
  <div class="d-flex flex-column">
    <h6> 1. Be or not to be?</h6>
    <p>Your answer: Be</p>
    <p>Correct answer: Be</p>
    <h6> 2. Choose your language:</h6>
    <p>Your answer: HTML</p>
    <p>Correct answer: Ruby</p>
    <div class="d-flex flex-row justify-content-center">
      <%= link_to 'Try Again', tests_path, class: "btn btn-outline-success" %>
    </div>
  </div>
</div>

<% console %>